
.hornCard {
    float: left;
    width: 30%;
    margin: 5px;
    height: 500px;
    background-color: burlywood;
}

.hornCard img {
    width: 90%;
    height: 80%;
}

#collection {
    display: flex;
    flex-wrap: wrap;

}

#collection section{
    width: 300px;
    border: solid 1px;
    margin: 5px;
    height: 400px;
    background-color: burlywood;
}

#collection img{
    width: 90%;
    height: 80%;
}
#photo-template{
    display: none;
}
footer{
    clear: both;
}
button{
    clear: both;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: teal;
}
